<!-- src/app/auth/dashboard/ -->
<div class="flex min-h-screen">
  <app-pcic-sidebar [searchQuery]="searchQuery"></app-pcic-sidebar>
  <div class="flex-1 flex flex-col">
    <app-our-header (search)="handleSearch($event)"></app-our-header>
    <main class="flex-1 p-6 bg-gray-50">
      <router-outlet></router-outlet>
      @if (isMainRouteActive) {
      <div>
        @if (getUserRole() === 'National_Admin') {
        <div>
          <div> i am {{ getUserRole() }}</div>
          <button class="btn btn-primary" (click)="showModal()">Add Course</button>
        </div>
        }
      </div>
      }
    </main>
  </div>
</div>

<app-course-modal [class.hidden]="!isModalVisible" (close)="closeModal()"
  (save)="saveCourse($event)"></app-course-modal>
